@import "tailwindcss";
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e4e4e4;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #55da29;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  /* For Firefox Support (Limited customization) */
  .custom-scrollbar {
    scrollbar-width: thin; /* or auto */
    scrollbar-color: #888 #f1f1f1;
  }
}

/* No scrollbar */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
